:root {
  --color-primary: #7319af;
  --color-primary-dark: #5a128a;
  --color-transparent: transparent;

  --color-white: #ffffff;
  --color-gray-light: #eeeeee;
  --color-gray: #cccccc;
  --color-gray-dark: #777777;
  --color-black: #000000;
}