@use 'colors';

@font-face {
  font-family: 'base';
  font-weight: 400;
  src: url('../../public/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'base';
  font-weight: 700;
  src: url('../../public/fonts/Roboto-Bold.ttf') format('truetype');
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: 'base', sans-serif;

  &::selection {
    color: var(--color-white);
    background-color: var(--color-primary-dark);
  }
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  width: fit-content;
  color: var(--color-primary);
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin: 0;
}

p + p {
  margin: 12px 0;
}
